div{
  text-align: center;
}

.header{
  background-color: blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.header nav{
  display: flex;
  justify-content: space-evenly;
}

.link{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transform: translateY(40%);
  font-size: 20px;
  font-weight: 700;
}

.login{
  /* font-size: 40px; */
  background-color: tan;
  width: 500px;
  margin: 50px auto;
  border: .5px solid lightblue;
  border-radius: 4px;
}

.login input{
  display: block;
  width: 90%;
  height: 25px;
  text-align: center;
  margin: 10px auto;
  font-size: 30px; 
  background-color: transparent;
  border: 2px solid blue;
  color: blue;
}

.login input:last-of-type{
  background-color: transparent;
  height: 30px;
  font-size: 25px;
  width: 30%;
  border: 1px solid blue;
  border-radius: 4px;
}

.books{
  background-color: tan;
}